* {
  margin: 0;
}

label {
  margin: 10px 0
}

#root {
  height: 100vh;
}

.background-orange {
  background-color: rgb(255, 196, 0);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.form-container {
  padding: 20px 30px;
  background-color: white;
  flex-direction: column;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  max-width: 600px;
  margin: 20% auto;
}

.height-100 {
  height: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.login-modal {
  position: fixed;
  z-index: 1;
  overflow: auto;
}

.Oswald {
  font-family: Oswald, sans-serif;
}

.text-align-center {
  text-align: center;
}

.title {
  font-size: 10vh;
  color: rgb(255, 0, 0);
}

.title-container {
  justify-content: center;
  text-align: center;
  padding-top: 15%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}
