* {
  margin: 0;
}

button:hover {
  opacity: 0.7;
}

#root {
  height: 100vh;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.background-grey {
  background-color: rgb(231, 231, 231);
}

.background-brown {
  background-color: #280004;
}

.border-solid {
  border-style: solid;
  border-width: 1px;
}

.container {
  padding: 16px;
}

.close-button {
  width: auto;
  padding: 10px 18px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.flex-basis-20 {
  flex-basis: 20%;
}

.flex-basis-80 {
  flex-basis: 80%;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.height-100 {
  height: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.login-button {
  width: 50%;
  background-color: rgba(24, 202, 0, 0.788);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.login-popup-button {
  color: #a53f2b;
  background-color: #f0ffce;
  border: none;
  padding: 50px 40px;
  margin: 20px;
  border-radius: 100%;
  font-size: larger;
}

.login-img {
  width: 40%;
}

.login-imgcontainer {
  text-align: center;
  margin: 24px 0;
  position: relative;
}

.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
}

.modal {
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.459);
}

.modal-content {
  background-color: white;
  flex-direction: column;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  width: 40%;
}

.Oswald {
  font-family: Oswald, sans-serif;
}

.register-login-button {
  width: auto;
  padding: 10px 18px;
  color: white;
  background-color: #4c230a;
  border: none;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.title {
  font-size: 10vh;
  color: #ccc9a1;
}

.title-container {
  text-align: center;
  padding-top: 15%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}
